@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?t518ts');
  src:  url('fonts/icomoon.eot?t518ts#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?t518ts') format('truetype'),
    url('fonts/icomoon.woff?t518ts') format('woff'),
    url('fonts/icomoon.svg?t518ts#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-noun_977768:before {
  content: "\e900";
}
.icon-noun_977793:before {
  content: "\e901";
}
.icon-noun_1245026:before {
  content: "\e902";
}
.icon-noun_1248182:before {
  content: "\e903";
}
.icon-noun_1258170:before {
  content: "\e904";
}
.icon-noun_1267333:before {
  content: "\e905";
}
.icon-noun_1273446:before {
  content: "\e906";
}
.icon-noun_1273443:before {
  content: "\e907";
}
.icon-noun_1278287:before {
  content: "\e908";
}
.icon-noun_977698:before {
  content: "\e909";
}
